

<h3>Listado de paises</h3>
<hr>


<div *ngIf="paises.length === 0"
    class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<table  *ngIf="paises.length > 0"
class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td> {{ i + 1 }} </td>
            <td> 
                <img class="small-flag"
                    [src]="pais.flags.svg">
             </td>
            <td> {{ pais.name }} </td>
            <td> {{ pais.population | number }} </td>
            <td> 
                <a [routerLink]="['/paises/verpais', pais.alpha2Code] " > Ver </a>
            </td>
        </tr>
    </tbody>
</table>